<!DOCTYPE html>

<html>
    <head>
      
        <meta charset="UTF-8">
        <title>Resultado</title>
    </head>
    <body>
       
    
        <h1>Datos recibidos</h1>
        
        <p><strong>Nombre:</strong><span th:text="${usuario.nombre}"></span></p>
        <p><strong>Apellido:</strong><span th:text="${usuario.apellido}"></span></p>
        <p><strong>Correo:</strong><span th:text="${usuario.correo}"></span></p>
        <p><strong>Barrio:</strong><span th:text="${usuario.barrio}"></span></p>
        <p><strong>Ciudad:</strong><span th:text="${usuario.ciudad}"></span></p>
        <p><strong>País:</strong><span th:text="${usuario.pais}"></span></p>
        <p><strong>Teléfono:</strong><span th:text="${usuario.telef}"></span></p>
        <p><strong>Cédula:</strong><span th:text="${usuario.cedula}"></span></p>
        <p><strong>Profesión y oficio:</strong><span th:text="${usuario.oficio}"></span></p>                                 
        <p><strong>Salario</strong><span th:text="${usuario.salario}"></span></p>                                 
                                         
                                         
                                         
                                         
    </body>
</html>
